<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONFIRM</title>
</head>
<body>
    <h2>are you sure you want to delete?</h2>
<form action="/blog/delete/<%=blog%>">
<button>yes</button>
</form>
<form action="/blog/details/<%=blog%>">
<button>no</button>
</form>
</body>
</html>