<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <nav class="navbar">
        <div class="navb1"> <h1>EDIT POST</h1></div>
</nav>
<section class="se"></section>

            <form action="/blog/editsave/<%=blog%>/<%= blogss %>" method="POST">
                <input placeholder="title" name="title">
                <textarea placeholder="type in post" name="post"  ></textarea>
                <button class="neb">edit</button>
            </form>
</body>
</html>