<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body >
    <nav class="navbar">
        <div class="navb1"> <h1>LOGIN</h1></div>
     </nav>   
     <section class="se"></section>
     <div class="body">
    <form action="/blog/home" method="POST">
        <input placeholder="username" name="username"><br>
        <input type="password" placeholder="password" name="password"><br>
<button class="b2">login</button>
            </form>
            </div>
</body>
</html>