<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW POST</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <nav class="navbar">
        <div class="navb1"> <h1>CREATE NEW POST</h1></div>
</nav>
<section class="se"></section>
    <form action="/blog/create/<%=blogs.username%>" method="POST">
<input placeholder="title" name="title"><br>
<textarea placeholder="type in post" name="post"></textarea>
<button class="neb">post</button>
    </form>
</body>
</html>