<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <nav class="navbar">
        <div class="navb1"><h1>DETAILS</h1></div>
        
    </nav>
    <section class="se"></section>
    <div class="det">
    <div class="lid"> <%=found.title%></div>
   <div class="sid"><%=found.post%> </div>
</div>
<div class="cont">
   <a class="deta" href="/blog/return/<%= origin %>">home</a>
   </div>
</body>
</html>